.box {
  height: 250px;
}

a {
  display: block;
  height: 100%;
  width: 100%;
  color: inherit !important; /* blue colors for links too */
  text-decoration: inherit !important; /* no underline */
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

label {
  font-size: 9px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #0f0f0f !important;
}

.m {
  margin-left: 100px !important;
  margin-right: 100px !important;
  max-width: 100% !important;
}
